:root {
  /* --color-dark-grayish-blue: #222831;
  --color-very-light-grayish-blue: #fafafa; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#img-container {
  position: relative;
}

.header-img {
  width: 100vw;
  height: 200px;
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Place header text at the start and icon at the end */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  width: 500px; /* Set the same width as the todo-container */
  max-width: 100%;
  padding: 10px;
}

.header-text {
  margin-right: auto;
}

.header-icon {
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  margin: 0 auto; /* Center the container */
  transform: translateY(-40px);
}

.input-wrapper .todo-input {
  padding: 5px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 20px;
  width: 92%;
  border: 2px solid var(--color-dark-grayish-blue);
  font-size: 18px;
  color: #777a92;
}

.add-checkbox {
  position: relative;
  appearance: none;

  height: 20px;
  width: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  outline: none;

  border: 2px solid #ccc;
}

.add-checkbox:checked {
  background-color: green;
  background-image: url("icon-check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.add-checkbox:checked::before {
  content: "";
  display: none;
}

.completed-checkbox {
  position: relative;
  appearance: none;

  width: 25px;

  height: 25px;

  background-color: white;
  cursor: pointer;
  border-radius: 100%;
  outline: none;

  border: 2px solid #ccc;
}

.completed-checkbox:checked {
  background-color: rgb(34, 193, 195);
  background-image: url("icon-check.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Hide the default checkmark image on the checkbox */
.completed-checkbox:checked::before {
  content: "";
  display: none;
}

.todo-list {
}

.todo-item {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-dark-grayish-blue);

  margin: 0;
  padding: 5px;
  background-color: var(--color-dark-grayish-blue);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5px;
}

.todo-text {
  flex: 1;
  font-weight: 400;
  font-size: 18px;
  max-width: 100%;
  word-break: break-all;
  color: #777a92;
}

.todo-text-completed {
  flex: 1;
  font-weight: 400;
  font-size: medium;
  max-width: 100%;
  word-break: break-all;
  text-decoration: line-through;
  font-size: 18px;
  color: #777a92;
}

.completed-span {
  flex-shrink: 0;
  margin-right: 10px;
}

.completed-btn {
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  background-color: white;
}

.check-btn:hover {
  background-color: green;
}

.remove-span {
  flex-shrink: 0;
  /* Prevent the remove button from shrinking */
  margin-left: 10px;
  /* Add some spacing between the todo text and the remove button */
}

.remove-btn {
  cursor: pointer;
  color: rgb(86, 81, 81);
}

.links {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid white;
  background-color: var(--color-dark-grayish-blue);
  font-size: 13px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  color: #777a92;
  font-size: 13px;
}

.links a {
  cursor: pointer;
}

/* Add styles for the active link */
.links a.active {
  color: #ff0000;
  font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .todo-container {
    width: 90%;
  }

  .todo-list {
    flex-direction: column;
  }

  .todo-item {
    width: 100%;
  }
}
